body {
  
  
 background-image: url('./dark.png');
  
  
  
  
  
}




#kolumna {
background: #3362b7; 
opacity: 0.6;
min-height: 150px;

}
#kolumna2 {
background: #3362b7; 
opacity: 0.6;
min-height: 450px;

}
#formularz {
width: 200px;

}
#conte {
width: 300px;


}
#tlo {
height: 250px;
background-color: #54899b;
opacity: 0.5;

}
#zdjecie {
width: 300px;

}
#napis1 {
opacity: 0.5;
float:left;
width: 60%;

}
#napis2 {
opacity: 0.5;

float:right;
width: 40%;

}
span.reje {color: #e7df08;}
span.name { color:#b1c92c;}
span.form { color:#b1c92c;}
span.form2 { color:#ded8bf; font-size: 16px;}